.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  min-height: calc(100vh - 302px - 172px);
  padding: 20px;
  background-color: #202020;
  box-sizing: border-box;
}

.info__message {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 1.21;
  text-align: center;
  color: #8B8B8B;
}

@media screen and (max-width: 600px) {
  .info__message {
    font-size: 20px;
  }
}

@media screen and (max-width: 470px) {
  .info__message {
    font-size: 15px;
  }
}