.finder {
  max-width: 1280px;
  background-color: #202020;
  border: 1px solid #202020;
}

.finder__form {
  display: flex;
  margin: 80px 0 29px;
}

.finder__input {
  width: 1086px;
  height: 50px;
  margin-right: 10px;
  border: none;
  border-radius: 8px;
  background-color: #2F2F2F;
  padding-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.29;
  color: #FFFFFF;
}

.finder__input:focus {
  outline: none;
  border: 1px solid #4285F4;
}

.finder__input::placeholder {
  color: #8B8B8B;
}

.finder__button {
  align-self: center;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 5px;
  background-color: #4285F4;
  background-image: url(../../images/finder.svg);
  cursor: pointer;
}

.finder__button:hover {
  transform: scale(1.05);
}

.finder__button:active {
  transform: scale(1);
}

.finder__label {
  display: flex;
  justify-content: center;
  height: 16px;
  margin-bottom: 34px;
  cursor: pointer;
}

.finder__label-text {
  align-self: center;
  margin-left: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.5;
  transition: opacity 1s linear 0.5s;
}

.finder__label-text:hover {
  opacity: .6;
}

.finder__checkbox {
  display: none;
}

.finder__pseudo-item {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FFFFFF;
  transition: transform linear 0.5s;
}

.finder__checkbox:checked + .finder__pseudo-item {
  background-color: #3DDC84;
}

.finder__checkbox:disabled + .finder__pseudo-item {
  border: 1px solid red;
}

.finder__checkbox:disabled:checked + .finder__pseudo-item {
  background-color: red;
}

.finder__checkbox:hover + .finder__pseudo-item {
  transform: scale(1.1);
}

.finder__line {
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #424242;
}

@media screen and (max-width: 1280px) {
  .finder__input {
    width: calc(100vw - 140px - 10px - 44px);
  }
}

@media screen and (max-width: 1100px) {
  .finder__input {
    width: calc(100vw - 60px - 10px - 44px);
  }
}

@media screen and (max-width: 770px) {
  .finder__form {
    margin: 80px 0 41px;
  }
}

@media screen and (max-width: 770px) {
  .finder__label {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 500px) {
  .finder__input {
    width: calc(100vw - 34px - 10px - 44px);
  }
}

@media screen and (max-width: 400px) {
  .finder__input {
    width: calc(100vw - 28px - 10px - 44px);
  }
}

@media screen and (max-width: 325px) {
  .finder__form {
    margin: 80px 0 47px;
  }
}

@media screen and (max-width: 325px) {
  .finder__input {
    height: 44px;
    padding-left: 13px;
  }
}

@media screen and (max-width: 325px) {
  .finder__label-text {
    font-size: 11px;
    line-height: 1.64;
  }
}